.layer_bg2{
    position:absolute;
    left: 0;
    top: 0;
    width: 720px;
    height: 576px;
    background-image: url("i/bg2.png");
}

#pages_sunny
{
     top: 80px;
     left:53px;
     position: absolute;
     width: 667px; height: 400px;	

}

#today_sunny, #schedule_sunny
{
     top: 3px;
     left:0px;
     position: absolute;
     width: 482px; height: 390px;	 
}

#header_sunny
{    
     left:40px;
     position: absolute;
     color: white;
	top: 3px;
}

#kino0_sunny
{    
     display:none;
     top: 35px;
     left:25px;
     position: absolute;
     width: 158px; 
     height: 324px;
     overflow:hidden;
	 border-radius: 5px;
<!--     background: rgba(0, 170, 238, 0.3); -->
}

#kino1_sunny
{    
     display:none;
     top: 35px;
     left:163px;
     position: absolute;
     width: 158px;
     height: 324px;
     overflow:hidden;
     border-radius: 5px;
}

#kino2_sunny
{    
     display:none;
     top: 35px;
     left:301px;
     position: absolute;
     width: 157px;
     height: 324px;
     overflow:hidden;
     border-radius: 5px;
}

#kino_data0_sunny, #kino_data1_sunny, #kino_data2_sunny
{
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
	color: white;
	overflow:hidden;
	top: 3px;
    position: absolute;
    width: 158px;
}

#kino_img0_sunny, #kino_img1_sunny, #kino_img2_sunny
{
     top: 20px;
     left:21px;
     position: absolute;
     width: 117px; height: 165px;	 
}

#genre0_sunny, #genre1_sunny, #genre2_sunny
{
position: relative;
	top: 190px;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	color: white;
	height: 30px;
	overflow:hidden;
}

#name0_sunny, #name1_sunny, #name2_sunny

{
position: relative;
	top: 192px;
	font-size: 20px;
	font-weight: bold;
	left: 14px;
	width: 135px;
	color: white;
	text-align: center;
	overflow:hidden;
     height: 97px;
}

#menu_sunny
{
     top: 520px;
     left:55px;
     position: absolute;
     width: 600px; height: 24px;	
     font-size: 14px;
     color: white;     
}

#red_sunny
{
     position: absolute;
     height: 24px;	
     font-size: 14px;
font-weight: bold;
     color: white;     
     top:5px;
     left: 25px;
     vertical-align:middle;
     float:left;
}
#img_red_sunny
{
	position: absolute;
     height: 24px;
     top: 0px;
     left: 0px;
     vertical-align:middle;
	background-image: url("kino_kuzbass/red.png");
	width: 24px;
}

#green_sunny
{
     position: absolute;
     height: 24px;	
     font-size: 14px;
     color: gray;     
     top:5px;
     left: 181px;
     vertical-align:middle;
font-weight: bold;
}

#img_green_sunny
{
     position: absolute;
     height: 24px;	     
     top: 0px;
     left: 157px;
     vertical-align:middle;
background-image: url("kino_kuzbass/green.png");
width: 24px;
}

#yelow_sunny
{
     position: absolute;
     height: 30px;	
     font-size: 14px;
     color: gray;     
     top:5px;
     left: 355px;
     vertical-align:middle;
	font-weight: bold;
}

#img_yelow_sunny
{
     position: absolute;
     height: 24px;	     
     top: 0px;
     left: 330px;
     vertical-align:middle;
background-image: url("kino_kuzbass/yelow.png");
width: 24px;
}

#blue_sunny
{
     position: absolute;
     height: 24px;	
     font-size: 14px;
     color: gray;     
     top:5px;
     left: 488px;
     vertical-align:middle;
	font-weight: bold;
}

#img_blue_sunny
{
     position: absolute;
     height: 24px;	     
     top: 0px;
     left: 463px;
     vertical-align:middle;
     background-image: url("./kino_kuzbass/blue.png");
	width: 24px;
font-weight: bold;
}

#left_sunny
{
     display:none;
     position: absolute;     
     top: 51px;
     left: 3px;
     background-image: url("kino_kuzbass/left.png");
	width: 21px;
height: 165px;
}

#right_sunny
{
     position: absolute;     
     top: 55px;
     left: 459px;
	width: 21px;
	height: 165px;
     background-image: url("kino_kuzbass/right.png");    
}

#ad_sunny, #ad1_sunny
{
     display:none;
     position: absolute;
     height: 240px;
     width: 149px;     
     top: 118px;
     left: 536px;
     border-radius: 10px;
     overflow: hidden;     
     -webkit-border-radius: 10px;
     background-image: url("kino_kuzbass/25alfa_20.png");
}

#ad_ad_sunny, #ad_ad1_sunny
{
position: absolute;
left: 5px;
top: 5px;
-webkit-border-radius: 12px;
width: 139px;
height: 229px;
overflow: hidden;
}

#ad_ad_sunny img
{
  -webkit-border-radius: 7px;
  border-radius: 7px; 
}

#ad_ad1_sunny img
{
  -webkit-border-radius: 7px;
  border-radius: 7px;
}


#info_blok_sunny
{
     	top: 30px;
     	left: 2px;
     	position: absolute;
     	width: 468px; 
	height: 400px;
	overflow: hidden;
	color: white;
	display: none;
	font-size: 20px;
}

#scrol_sunny
{
	position: absolute;
     top: 0px;
     left: 462px;
	background-image: url("i/mb_scroll_bg.png");
	height: 438px;
width: 20px;
}

#scrol_now_sunny
{
	position: absolute;
	left: 6px;
	top: 7px;
}

#detail_sunny
{
	position: absolute;
        left: 47px;
        top: 20px;
	z-index:1000;
	width: 640px;
	color: white;
	overflow: hidden;
}

.detail_class
{
	position: relative;
	left:10px;
	font-size: 20px;
}

#detail_description_sunny
{
	height: 200px;
	width: 625px;
	overflow: hidden;
	text-align: justify;
}

#detail_starring_sunny
{
        width: 625px;
        overflow: hidden;
        text-align: justify;
}

.shedule_date
{
	text-transform: uppercase;
	color: yellow;
}

#loading_sunny
{
	position: absolute;
	top: 48%;
	left: 42%;
	width: 100px;
	height: 30px;
	color: white;
	font-size: 30px;
}

#key_info_today_sunny
{
	position: absolute;
	top: 380px;
	left: 25px;
	width: 600px;
	height: 30px;
	color: white;
	font-size: 18px;
	text-align: center;
}
