/*1.0*/html,
body
{
     margin: 0;
     padding: 0;
     width: 720px; height: 576px;
     outline: 2px solid #000;
     background-image: url("bg3.png");     
}

#pom_pages
{
     top: 70px;
     left:46px;
     position: absolute;
     width: 667px; height: 445px;  

}

#pom_categories
{
     top: 35px;
     left:0px;
     position: absolute;
     width: 608px;
     height: 444px;
     display: block;
}

#pom_cat0
{
     display:block;
     top: 0px;
     left: 0px;
     position: absolute;
     width: 152px;
     height: 113px;
     overflow:hidden;
     border-radius: 5px;
     background-color: rgb(34, 101, 145);
}

#pom_cat1
{
     display:block;
     top: 0px;
     left:152px;
     position: absolute;
     width: 152px;
     height: 113px;
     overflow:hidden;
     border-radius: 5px;
}

#pom_cat2
{    
     display:block;
     top: 0px;
     left:304px;
     position: absolute;
     width: 152px;
     height: 113px;
     overflow:hidden;
     border-radius: 5px;
     
}

#pom_cat3
{    
     display:block;
     top: 110px;
     left:0px;
     position: absolute;
     width: 152px;
     height: 113px;
     overflow:hidden;
     border-radius: 5px;
     
}

#pom_cat4
{    
     display:block;
     top: 110px;
     left: 152px;
     position: absolute;
     width: 152px;
     height: 113px;
     overflow:hidden;
     border-radius: 5px;
     
}

#pom_cat5
{    
     display:block;
     top: 110px;
     left: 304px;
     position: absolute;
     width: 152px;
     height: 113px;
     overflow:hidden;
     border-radius: 5px;
    
}

#pom_cat6
{    
     display:block;
     top: 220px;
     left: 0px;
     position: absolute;
     width: 152px;
     height: 113px;
     overflow:hidden;
     border-radius: 5px;
    
}

#pom_cat7
{    
     display:block;
     top: 220px;
     left: 152px;
     position: absolute;
     width: 152px;
     height: 113px;
     overflow:hidden;
     border-radius: 5px;
     
}

#pom_cat8
{    
     display:block;
     top: 220px;
     left: 304px;
     position: absolute;
     width: 152px;
     height: 113px;
     overflow:hidden;
     border-radius: 5px;
     
}

#pom_cat9
{    
     display:block;
     top: 220px;
     left: 152px;
     position: absolute;
     width: 152px;
     height: 113px;
     overflow:hidden;
     border-radius: 5px;
     
}

#pom_cat10
{    
     display:block;
     top: 220px;
     left: 304px;
     position: absolute;
     width: 152px;
     height: 113px;
     overflow:hidden;
     border-radius: 5px;
     
}

#pom_cat11
{    
     display:block;
     top: 220px;
     left: 456px;
     position: absolute;
     width: 152px;
     height: 113px;
     overflow:hidden;
     border-radius: 5px;
     
}

#pom_cat12
{    
     display:block;
     top: 330px;
     left: 0px;
     position: absolute;
     width: 152px;
     height: 113px;
     overflow:hidden;
     border-radius: 5px;
     
}
#pom_cat13
{    
     display:block;
     top: 330px;
     left: 152px;
     position: absolute;
     width: 152px;
     height: 113px;
     overflow:hidden;
     border-radius: 5px;
     
}
#pom_cat14
{    
     display:block;
     top: 330px;
     left: 304px;
     position: absolute;
     width: 152px;
     height: 113px;
     overflow:hidden;
     border-radius: 5px;
     
}

#pom_cat15
{    
     display:block;
     top: 330px;
     left: 456px;
     position: absolute;
     width: 152px;
     height: 113px;
     overflow:hidden;
     border-radius: 5px;
     
}

#pom_cat_img0, #pom_cat_img1, #pom_cat_img2, #pom_cat_img3, #pom_cat_img4, #pom_cat_img5, #pom_cat_img6, #pom_cat_img7, #pom_cat_img8, #pom_cat_img9, #pom_cat_img10, #pom_cat_img11, #pom_cat_img12, #pom_cat_img13, #pom_cat_img14, #pom_cat_img15
{
     top: 3px;
     left: 4px;
     position: absolute;
     border-radius: 5px;
}

#pom_cat_img0 img, #pom_cat_img1 img, #pom_cat_img2 img, #pom_cat_img3 img, #pom_cat_img4 img, #pom_cat_img5 img, #pom_cat_img6 img, #pom_cat_img7 img, #pom_cat_img8 img, #pom_cat_img9 img, #pom_cat_img10 img, #pom_cat_img11 img, #pom_cat_img12 img, #pom_cat_img13 img, #pom_cat_img14 img, #pom_cat_img15 img
{
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

#pom_name0, #pom_name1, #pom_name2, #pom_name3, #pom_name4, #pom_name5, #pom_name6, #pom_name7, #pom_name8, #pom_name9, #pom_name10, #pom_name11, #pom_name12, #pom_name13, #pom_name14, #pom_name15

{
position: relative;
     top: 83px;
     font-size: 11px;
     font-weight: bold;
     left: 3px;
     width: 145px;
     color: white;
     text-align: center;
     overflow:hidden;
     height: 30px;
     font-family: Helvetica, sans-serif;
}

#pom_menu
{
     top: 520px;
     left:55px;
     position: absolute;
     width: 600px; height: 24px;   
     font-size: 14px;
     color: white;     
}

#pom_red
{
     position: absolute;
     height: 24px;  
     font-size: 11px;
     font-weight: bold;
     color: white;     
     top:5px;
     left: 25px;
     vertical-align:middle;
     float:left;
     font-family: Helvetica, sans-serif;
}
#pom_img_red
{
     position: absolute;
     height: 24px;
     top: 0px;
     left: 0px;
     vertical-align:middle;
     background-image: url("kino_kuzbass/red.png");
     width: 24px;
}

#pom_green
{
     position: absolute;
     height: 24px;  
     font-size: 11px;
     color: white;     
     top:5px;
     left: 181px;
     vertical-align:middle;
font-weight: bold;
font-family: Helvetica, sans-serif;
}

#pom_img_green
{
     position: absolute;
     height: 24px;       
     top: 0px;
     left: 157px;
     vertical-align:middle;
background-image: url("kino_kuzbass/green.png");
width: 24px;
}

#pom_yelow
{
     position: absolute;
     height: 30px;  
     font-size: 11px;
     color: white;     
     top:5px;
     left: 305px;
     vertical-align:middle;
     font-weight: bold;
     font-family: Helvetica, sans-serif;
}

#pom_img_yelow
{
     position: absolute;
     height: 24px;       
     top: 0px;
     left: 280px;
     vertical-align:middle;
background-image: url("kino_kuzbass/yelow.png");
width: 24px;
}

#pom_blue
{
     position: absolute;
     height: 24px;  
     font-size: 11px;
     color: white;    
     top:5px;
     left: 488px;
     vertical-align:middle;
     font-weight: bold;
     font-family: Helvetica, sans-serif;
}

#pom_img_blue
{
     position: absolute;
     height: 24px;       
     top: 0px;
     left: 463px;
     vertical-align:middle;
     background-image: url("./kino_kuzbass/blue.png");
     width: 24px;
font-weight: bold;
}



#pom_loading
{
     position: absolute;
     top: 10px;
     left: 222px;
     width: 100px;
     height: 30px;
     color: white;
     font-size: 30px;
}

#pom_up
{
     position: absolute;
     top: 10px;
     left: 222px;
   /*  background-image: url("./pomogator_app/up.png"); */
}

#pom_down
{
     position: absolute;
     top: 415px;
     left: 222px;
   /*  background-image: url("./pomogator_app/down.png"); */
}
