#edds_page
{
     top: 90px;
     left: 42px;
     position: absolute;
     width: 655px;
     height: 408px;
     background-image: url("i/25alfa_20.png");
     border-radius: 7px;
     color: white;
     font-size: 23px;
}

#edds_text
{
     position: absolute;
     top:7px;
     left: 15px;
     right: 15px;
     bottom: 7px;
     overflow: hidden;
     text-align: justify;
}

#edds_navigate
{
     position: absolute;
     top: 501px;
     left: 42px;
     width: 655px;
     height: 53px;
     background-image: url("i/25alfa_20.png");
     border-radius: 7px;
}

#edds_navi_ico
{
     position: absolute;
     background-image: url("../../key_for_app/exit.png");
     width: 60px;
     height: 25px;
     top: 15px;
     left: 15px;;
     background-repeat: no-repeat;
}

#edds_navi_text
{
     position: absolute;
     width: 60px;
     height: 25px;
     top: 17px;
     left: 62px;
     font-size: 18px;
     color: white;
}

#edds_navi_ico1
{
     position: absolute;
     background-image: url("../../key_for_app/updown.png");
     width: 60px;
     height: 25px;
     top: 15px;
     left: 141px;
     background-repeat: no-repeat;
     display: block;
}

#edds_navi_text1
{
     position: absolute;
     width: 370px;
     height: 25px;
     top: 17px;
     left: 176px;
     font-size: 18px;
     color: white;
     display: block;
}

#edds_navi_ico2
{
     position: absolute;
     background-image: url("../../key_for_app/blue.png");
     width: 60px;
     height: 25px;
     top: 15px;
     left: 453px;
     background-repeat: no-repeat;
     display: block;
}

#edds_navi_text2
{
     position: absolute;
     width: 370px;
     height: 25px;
     top: 17px;
     left: 487px;
     font-size: 18px;
     color: white;
     display: block;
}

#edds_scroll
{
     top: 1px;
     left: 632px;
     position: absolute;
     width: 23px;
     height: 400px;
     overflow: hidden;
     display: none;
}

#edds_scroll_background
{
     top: 0px;
     left: 0px;
     position: absolute;
     width: 23px;
     height: 297px;
     overflow: hidden;
}

#edds_scroll_background1
{
     top: 297px;
     left: 0px;
     position: absolute;
     width: 23px;
     height: 105px;
     overflow: hidden;
     z-index: 5;
}


#edds_scroll_background1 img
{
     margin-top: -333px;
}

#edds_scroll_runner
{
     top: 7px;
     left: 6px;
     position: absolute;
     z-index: 10;
}
