.layer_bg2{
    position:absolute;
    left: 0;
    top: 0;
    width: 720px;
    height: 576px;
    background-image: url("i/bg2.png");
}

#tabs_data div {display:none;border:0;}
#tabs_data {font-size:16px;}

#tabs {margin:100px 0px 0px 30px;font-size:24px;position:absolute;}
#tabs a {float:left;color:#fff;padding:13px;text-decoration:none;text-align: center;width: 90px; background-image: url("i/25alfa_20.png");}
#tabs a.active {background:#f2c40b;color:#000;}

#tabs_kurs {position:absolute;left:56px;top:120px;height:110px;}
#tabs_kurs ul{font-size:22px; font-weight: bold;}

#current_kurs.USD{position:absolute;left:25px;top:190px;background:url(../../../tools/cbr_img_graph/sd_1.png)bottom no-repeat;width:650px;height:350px;}
#current_kurs.EUR{position:absolute;left:25px;top:190px;background:url(../../../tools/cbr_img_graph/sd_2.png)bottom no-repeat;width:650px;height:350px;}
#current_kurs.KZT{position:absolute;left:25px;top:190px;background:url(../../../tools/cbr_img_graph/sd_3.png)bottom no-repeat;width:650px;height:350px;}
#current_kurs.UAH{position:absolute;left:25px;top:190px;background:url(../../../tools/cbr_img_graph/sd_4.png)bottom no-repeat;width:650px;height:350px;}

#kurs_condition {  
  position:absolute; width:345px; height:135px; top:30px; right:45px;
}

.text36 { font-size:32px;color:#F2C40B;}
.text28 { font-size:26px;color:#fff;}
